<html data-lt-installed="true">

<head>
    <title>Sniffle</title>
    <link rel="stylesheet" type="text/css" href="{%cfg_root%}assets/generic.css">
    <link rel="stylesheet" type="text/css" href="{%cfg_root%}assets/bootstrap/extras.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nunito');
        .font {
            font-family: Nunito;
        }
    </style>
</head>


<body data-gr-c-s-loaded="true">
<div style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); text-align: center;">
    <h1 class="display-1">Sniffle</h1>
    <hr>
    <h4 class="mb-5"><small class="text-muted">
        <a href="https://github.com/TASSIA710/Sniffle" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
        &emsp;&vert;&emsp;
        <a href="https://github.com/TASSIA710/Sniffle/issues" target="_blank" rel="noopener noreferrer">Issues</a>
        &emsp;&vert;&emsp;
        <a href="https://github.com/TASSIA710/Sniffle/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">MIT License</a>
        <br><br>
        A simple, lightweight and open-source web framework.
        <br>
        Made with <i class="fas fa-heart text-danger"></i> by <a href="https://tassia.net/">Tassilo</a>.
    </small></h4>
</div>
</body>

</html>